<!DOCTYPE html>
<html>
  <head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container">

        <%= link_to "Brent Gorwin Rails", root_path, class: "navbar-brand" %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
              <% if user_signed_in? %>
                <li class="nav-item pull-md-right"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link pull-md-right" %></li>
              <% else %>
                <li class="nav-item pull-md-right"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-warning" %></li>
                <li class="nav-item pull-md-right"><%= link_to "Log in", signin_path, class: "btn btn-outline-info ml-1" %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <% content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>

    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2018 Brent Gorwin</p>
        </center>
      </div>
    </footer>

  </body>
</html>
